<html>
	<head>
		<link rel="stylesheet" href="../../../css/styles.css">
	</head>
	<body>
		<div class="wrap">
			<h1>{{page.titulo_libro}}</h1>
			<div class="link-section">
				<h2>Fuentes destacadas</h2>
				{% for link in page.fuentes_destacadas %}
					<div class="link">
						{% if link.titulo %}<h4>{{ link.titulo }}</h4>{% endif %}
						{% if link.descripcion %}<p>{{link.descripcion}}</p>{% endif %}
						{% if link.url %}<a href="{{ link.url }}" target="_blank">{{ link.url }}</a>{% endif %}
					</div>
				{% endfor %}
			</div>
			<div class="link-section">
				<h2>Fuentes complementarias</h2>
				{% for link in page.fuentes_complementarias %}
					<div class="link">
						{% if link.titulo %}<h4>{{ link.titulo }}</h4>{% endif %}
						{% if link.descripcion %}<p>{{link.descripcion}}</p>{% endif %}
						{% if link.url %}<a href="{{ link.url }}" target="_blank">{{ link.url }}</a>{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>
